body {
    background-color: white;
}

#efmase_menubar {
width:100%;
list-style-type:none;
margin:0;
padding:0;
height:34px;
border-bottom:1px solid #9EB0C0;
}
#efmase_menubar>li {
margin:0;
padding:2px;
/*float:left;*/
height:30px;
border-right:1px solid #9EB0C0;
background: #E8EAEB;
}
#efmase_menubar>li>a, #efmase_menubar li span {
  position: relative;
/*float:left;*/
display:block;
overflow:hidden;
white-space:nowrap;
width:auto;
height:auto;
margin:0;
padding:4px 5px;
text-decoration:none;
text-align:left;
text-transform:capitalize;
line-height:auto;
font-style:bold;	/*normal*/
font-size:18px;
color:#000000;
/*text-shadow:0 1px 0 #222,0 1px 0 #222;*/
font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
/*background:-webkit-gradient(left top,left bottom,from(#EBEBEB),color-stop(0.50 #F6F7F7),to(#D6D5CE));
background:-webkit-linear-gradient(top,#EBEBEB 0%,#F6F7F7 50%,#D6D5CE 100%);
background:-moz-linear-gradient(top,#EBEBEB 0%,#F6F7F7 50%,#D6D5CE 100%);
background:-o-linear-gradient(top,#EBEBEB 0%,#F6F7F7 50%,#D6D5CE 100%);
background:-ms-linear-gradient(top,#EBEBEB 0%,#F6F7F7 50%,#D6D5CE 100%);
background:linear-gradient(top,#EBEBEB 0%,#F6F7F7 50%,#D6D5CE 100%);*/
}
#efmase_menubar>li>a:hover, #efmase_menubar li .efmase_palettebutton:not(.efmase_palettebtn_disabled):hover {
/*color:blue;
-moz-box-shadow:inset 0 0 2px 1px #B9D6F2;
-webkit-box-shadow:inset 0 0 2px 1px #B9D6F2;
box-shadow:inset 0 0 2px 1px #B9D6F2;*/
background:#FFFFFF;
}
#efmase_menubar>li>a:active {
-moz-box-shadow:inset 0 0 4px #B9D6F2;
-webkit-box-shadow:inset 0 0 4px #B9D6F2;
box-shadow:inset 0 0 4px #B9D6F2;
}
#efmase_menubar>li:last-child, #efmase_menubar>li:last-child span {
float: none; 
display: block; 
overflow: hidden; 
border-right:0;
}
.efmase_menugrp_drop > div:first-child:after, .efmase_menugrp_drop > a:after {
content: "";
position: relative;
right: 2px;
top: 13px;
border-left: 5px solid transparent;
border-top: 5px solid #333;
border-right: 5px solid transparent;
z-index: 1;
margin-left: 6px;
}

#BRACKETS_UPDATE > div:after {
top: 8px;
}

#PARRAY_ROW_SPACING >div:after, #PARRAY_COL_SPACING >div:after {
top: -10px;
margin-left: 25px;
}

#BRACKETS_SYMMETRIC_ON {
margin-left: 10px;
}

#efmase_menubar div
{	position: fixed;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #F4F4F4;	/*#EAEBD8;*/
	border: 1px solid #5970B2;
	z-index : 999;
}
#efmase_menubar div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	/*background: #EAEBD8;*/
	color: #000000;	/*#2875DE;*/
	font: 16px arial;
}

#efmase_menubar div a:hover, #efmase_menubar div a.hovered
{	background: #49A3FF;
	/*color: #FFF*/
}

body {
padding:0px;
margin:0px;
}


#efmase_header {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    overflow: hidden;
	white-space:nowrap;
}

#efmase_header li {
    float: left;
	display: inline-block;
}

#efmase_header li a:link, #efmase_header li a:visited {
    display: block;
    width: 50px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
	text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#efmase_header li a:hover, #efmase_header li a:active {
    /*background-color: #7A991A;*/
    font-weight: bold;
}

.EFMASE_Container {
	border: 1px solid #99F;
	vertical-align: top;
	/*cursor: text;*/
	padding: 0px;
	/*position: relevant;*/
	margin: 5px 1px 5px 1px;
	float: left;
	overflow:auto;
	-webkit-overflow-scrolling: touch
}

.efmase_palette
{
	width:1000px;
    color:#000;
    background:transparent;
	display:block;
    margin:0 6px 0 6px;
	flow:left;
	overflow-x:auto;
	overflow-y:hidden;
	-webkit-overflow-scrolling:touch;
	-ms-overflow-y:hidden;	/*for IE8*/
	white-space: nowrap;
}
.efmase_palette table{border-collapse:collapse;border-spacing:0;margin:0}

.efmase_palette .efmase_palettebutton,
#efmase_header li .efmase_palettebutton,
#efmase_menubar li .efmase_palettebutton,
.efmase_mobile_tabs .efmase_palettebutton
 {											/* Button */
	border: 2px solid transparent;
	cursor: pointer;
	background: transparent;
	overflow: hidden;
	direction: ltr;
	outline-width:0;
}

.efmase_palette .efmase_palettebutton_dummy
{											/* Button */
	border: 2px solid transparent;
	background: transparent;
	overflow: hidden;
}

#efmase_menubar li  .efmase_palettebtn_disabled
{
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

#efmase_header li .efmase_button_head
 {											/* Button */
	width:10px;
	background: transparent;
	border: 0;
 }
.efmase_palettes {
	border-top: 1px solid #000000;	/*#778e9a;	#0a0c0d;*/
	border-bottom: 1px solid #000000;	/*#778e9a;	#0a0c0d;*/
	margin: -1px 0 0 0;
	padding:0;
}

/*#efmase_header li .efmase_BottomDiv
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
	margin-bottom: -6px;
	border: 1px solid #ffffff;
}*/

#efmase_header li .efmase_palettebutton_focus,
.efmase_mobile_tabs .efmase_palettebutton_focus
 {										/* Button hover */
	border-top: 1px solid #000000;	/*#778e9a;*/
	border-left: 1px solid #000000;	/*#778e9a;*/
	border-right: 1px solid #000000;	/*#778e9a;*/
	/*border-bottom: 1px solid #ffffff;*/
	border-bottom: none;
	outline: none;
	/*-webkit-border-radius: 3px;*/
	/*-moz-border-radius: 3px;*/
	/*border-radius: 3px;*/
	background: #ffffff;
	outline-width:0;
}

.efmase_palette .efmase_palettebutton:hover
 {										/* Button hover */
	border: 2px solid #778e9a;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.efmase_palette .efmase_palettebutton_select
 {										/* Button hover */
	border: 2px solid #f39c12;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#efmase_menubar li  .efmase_palettebutton_down,
.efmase_mobile_tabs .efmase_palettebutton_focus
 {										/* Button hover */
	border: 2px solid #778e9a;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff;
}

.efmase_mobile_tabs
{
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap;
}

.efmase_palette .efmase_palettebutton >img1,
.efmase_palette .efmase_palettebutton_dummy >img1
{											/* Button */
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}

.efmase_palette>table>tr>td:nth-child(n+2)
{
	border-left: 1px solid #BDBDBD;
}

.efmase_palette_grp_div {
	margin: 2px 0 0px 0; 
	/*float:left;*/
	display:block;
}
/*.efmase_palette_grp_div:last-child {
	border-right:0;
}*/

#efmase_matrix_pad {
	position: absolute; 
	z-index: 3;
	top: 30px;
	left: 30px; 
	font-family: sans-serif;
	min-width:0;
}
#efmase_matrix_pad > div {
	color: #778e9a; 
	border: 1px solid #b1b3b4; 
	padding-top: 1px; 
	background-color: #edf2f4;
}
.efmase_panel_close {	
    float:right;
    display:inline-block;
    padding:0px 4px;
    background:#ccc;
}

.efmase_panel_close:hover, .efmase_panel_close_hover {
    float:right;
    display:inline-block;
    padding:0px 4px;
    background:#ccc;
    color:#fff;
	cursor: pointer; 
}

#efmase_pad_table {
	border-collapse: collapse; 
	border-spacing: 111px; 
	margin: 0; 
	width: 100%;
}
#efmase_pad_table tbody tr td {
	margin: 0px; 
	padding: 1px;
}
.efmase_pad_btn {
	width: 13px; 
	height: 13px; 
	border: 1px solid #b1b3b4; 
	cursor: pointer; 
	background-color: #fff;
}
.efmase_pad_label {
	font-size: 12px; 
	width: 63px;
}
.efmase_pad_input {
	border: 1px solid #b1b3b4; 
	padding: 0; 
	margin: 0; 
	width: 35px; 
	text-align: right;
}

.fore_canvas {
	border: 0px;
	vertical-align: top;
	cursor: text;
	padding: 0px;
	position: relative;	/*absolute;*/
	/*margin-top: -973px;*/
	z-index: 2; 
	/*top: 0px;*/
	/*left: 0px;*/
}

.bg_canvas {
	position: relative;	/*absolute;*/
	z-index: 1; 
	/*top: 0px;*/
	/*left: 0px;*/
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /* FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /* Safari*/
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+)*/*/
    image-rendering: pixelated;                 /* Awesome future-browsers*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE*/
}
.mathdoxvisibletextarea>div {
	/*position: absolute;*/
	z-index: -1;
	min-width: 400px;
}

.efmase_focus_textarea
{  
	border:none;
	vertical-align: top;
	padding: 0px;
	position: relative;
	margin-left: 3px;	/*margin-left+border*/
	border: none;
	overflow: auto;
	outline: none;
	color:white;	/*transparent;*/
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
	z-index: 3;
	opacity: 0.00;
	filter:alpha(opacity=00);
	-moz-user-select: text;
  	-webkit-user-select: text;
  	-ms-user-select: text;
}

.efmase_focus_textarea:focus
{
	text-indent: -9999em;
}

#com_imatheq_loading_msg
{
	display: none;
	position:absolute;
	left:200px;
	top:35px;
	z-index:999;
	background-color:yellow;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
	padding: 4px
}

#efmase_sw_menutab_div
{
	background:white; 
	width:100%;
	z-index: 1000;
	position:absolute; 
	top:35px; 
	bottom:0px; 
	left:0px; 
	overflow:auto;
}

.efmase_sw_menutab_title
{
	height:20px;
	flex: 0 1 auto;
	background-color:black;
	color:white;
}

.efmase_mobile_submenu_item_focused
{	background: #49A3FF;
	/*color: #FFF*/
}

.efmase_mobile_font_size_tabs {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap;
}

#efmase_submenu_item_7 div {
	cursor: hand;
}

.efmase_mobile_font_size_tabs div {
    width: 50px;
    height: 30px;
	text-align: center;
	padding-top: 6px;
	cursor: hand;
}
.efmase_mobile_font_n_size_focused {
    background-color: #cccccc;
}

/* context menu */

.efmase_contextmenu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.efmase_contextmenu>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.efmase_contextmenu>ul>li {
  display: block;
  margin-bottom: 4px;
}

.efmase_contextmenu>ul:last-child {
  margin-bottom: 0;
}

.efmase_contextmenu>ul>li>a {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  font-size: 18px;
}

.efmase_contextmenu>ul>li>a:hover {
  color: #fff;
  background-color: #0066aa;
}

@font-face {
    font-family: 'cmmi7';
	src: url('../fonts/cmmi10-2/cmmi10-2.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cmmi10-2/cmmi10-2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cmmi10-2/cmmi10-2.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cmmi10-2/cmmi10-2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cmmi10-2/cmmi10-2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'cmr7';
	src: url('../fonts/cmr7-10/cmr7-10.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cmr7-10/cmr7-10.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cmr7-10/cmr7-10.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cmr7-10/cmr7-10.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cmr7-10/cmr7-10.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'cmex7';
	src: url('../fonts/cmex7-1/cmex7-1.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cmex7-1/cmex7-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cmex7-1/cmex7-1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cmex7-1/cmex7-1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cmex7-1/cmex7-1.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-style: normal;
}

@font-face {
    font-family: 'cmey7';
	src: url('../fonts/cmey7-3/cmey7-3.eot'); /* IE9 Compat Modes */
	src: url('../fonts/cmey7-3/cmey7-3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cmey7-3/cmey7-3.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cmey7-3/cmey7-3.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cmey7-3/cmey7-3.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'msbm7';
	/*src: url('../fonts/msbm10-1/msbm10-1.eot');*/ /* IE9 Compat Modes */
	src: /*url('../fonts/msbm10-1/msbm10-1.eot?#iefix') format('embedded-opentype'),*/ /* IE6-IE8 */
       url('../fonts/msbm10-1/msbm10-1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/msbm10-1/msbm10-1.ttf')  format('truetype');/*,*/ /* Safari, Android, iOS */
       url('../fonts/msbm10-1/msbm10-1.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'imescr7';
	src: url('../fonts/imescr7-1/imescr7-1.eot'); /* IE9 Compat Modes */
	src: url('../fonts/imescr7-1/imescr7-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/imescr7-1/imescr7-1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/imescr7-1/imescr7-1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/imescr7-1/imescr7-1.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'eufm7';
	src: url('../fonts/eufm10-1/eufm10-1.eot'); /* IE9 Compat Modes */
	src: url('../fonts/eufm10-1/eufm10-1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eufm10-1/eufm10-1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/eufm10-1/eufm10-1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eufm10-1/eufm10-1.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#efmase_bracket_pad, #efmase_size_pad {
	position: absolute; 
	z-index: 3;
	top: 30px;
	left: 30px;
	font-family: sans-serif;
	min-width:0;
}
#efmase_bracket_pad > div, #efmase_size_pad > div {
	color: #000; 
	border: 1px solid #b1b3b4; 
	padding-top: 1px; 
	background-color: #edf2f4;
}

#efmase_bracket_pad_table, #efmase_size_pad_table {
	border-collapse: collapse; 
	border-spacing: 111px; 
	margin: 0; 
	width: 100%;
}
#efmase_bracket_pad_table tbody tr td:hover, #efmase_size_pad_table tbody tr td:hover, 
.efmase_common_panel_hover {
	margin: 0px; 
	padding: 1px;
	background-color: #6600cc;	/*#D3E1E3;*/
	color: #fff;
}
#efmase_bracket_pad_table tbody tr td, #efmase_size_pad_table tbody tr td {
	width: auto; 
	height: 22px; 
	border: 1px solid #b1b3b4; 
	cursor: pointer; 
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}
.efmase_bracket_pad_btn {
	padding: 2px 5px;
}
.efmase_bracket_panel_sel {
	background-color: #778E9A;
	color: #fff;
}

#efmase_color_pad {
	position: absolute; 
	z-index: 1003;
	top: 30px;
	left: 30px;
	font-family: sans-serif;
	min-width:0;
}
#efmase_color_pad > div {
	color: #000; 
	border: 1px solid #b1b3b4; 
	padding-top: 1px; 
	background-color: #edf2f4;
}
/*#efmase_color_pad_close {
    float:right;
    display:inline-block;
    padding:0px 4px;
    background:#ccc;
}

#efmase_color_pad_close:hover {
    float:right;
    display:inline-block;
    padding:0px 4px;
    background:#ccc;
    color:#fff;
	cursor: pointer; 
}*/

#efmase_color_pad_table {
	border-collapse: collapse; 
	border-spacing: 111px; 
	margin: 0; 
	width: 100%;
}
#efmase_color_pad_table tbody tr td {
	margin: 0px; 
	padding: 1px;
}
/*#efmase_color_pad_table tbody tr td:hover {
	border: 2px solid #1A5EE8;
}*/
.efmase_color_pad_table_sel {
	border: 2px solid #E81A24;	/*#778E9A;*/ 
}
/*.efmase_color_pad_btn {
	width: auto; 
	height: 22px; 
	border: 1px solid #b1b3b4; 
	cursor: pointer; 
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}*/
.efmase_palettebtn_hidden {
	display: none;
}
